backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

local_backend: true

media_folder: static/img
public_folder: /img

collections:
  - name: 'articles'
    label: 'Blog'
    folder: 'content/articles'
    format: 'frontmatter'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'year', widget: 'datetime' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Image', name: 'img', widget: 'string', required: false }
      - { label: 'Image alt', name: 'alt', widget: 'string', required: false }
      - label: 'Layout'
        name: 'layout'
        widget: 'list'
        allow_add: false
        default: [archive]
      - label: 'Tags'
        name: 'tags'
        widget: 'list'
        allow_add: true
        default: ['news']
      - { label: 'Body', name: 'body', widget: 'markdown' }
