// Colors
$primary: teal;

$white: #ffffff;
$grey-light: #f2f3f3;
$grey-medium: #bdc1c4;
$grey: #9ba1a6;
$grey-semi-dark: grey;
$grey-dark: #494e52;

$font-color: #494e52;
$font-color-nav-menu: #2b5866;

// Size
$he-header: 55px;
$he-footer: 60px;

// TODO Corregir
// Screen size
$screen-sm: 500px;
$screen-md: 500px;






