PUBLIC_SITE_URL=https://tu-dominio.com
PUBLIC_GOOGLE_SITE_VERIFICATION=
PUBLIC_SITE_NAME=Mi Blog

# nuxt.config.ts:17:      SITE_URL: process.env.NUXT_PUBLIC_SITE_URL,
# data/index.ts:29:    content: process.env.GOOGLE_SITE_VERIFICATION,
# data/index.ts:37:    content: process.env.NUXT_PUBLIC_SITE_URL,
# pages/blog/[...slug].vue:26:      content: useRuntimeConfig().public.SITE_URL + route.path,
